body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-div {
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#image {
    width: 50%;
    max-width: 100%;
}
#img-caption {
  font-size: 10px;
  margin: 8px;
}
#timeline-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeline-div span{
  font-weight: bold;
}
#timeline-div ul li {
  padding: 5px 0;
}

#tribute-info{
  text-align: center;
}
